# ignore virtual environments
.venv/
env/

# ignore outputs
*.csv
*.parquet
*.pbf
*.geojson
*.geojson.gz
*.feather

# ignore large notebooks with output (optional)
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# ignore Jupyter lab stuff
.jupyter/

# ignore git
.git
.gitignore

.env

# ignore docker files
# docker/

# ignore data directories, if exist
data/
output/
use_cases/
cache/
archive/

!prep/bundeslaender.geojson

# ignore everything that shouldn't be in the Docker image
