*.csv
*.txt
!requirements.txt
*.gpkg
*.parquet
*.pbf
*.ini
*.json
*.fgb
#*.geojson


venv/
schrott/

output/*
# But keep the tile_cache folder
!output/tile_cache/
# And keep everything inside tile_cache
!output/tile_cache/**


__pycache__/
*.pyc
*.log  
*.ipynb_checkpoints