*.csv
*.txt
!requirements.txt  # Exception to track requirements.txt
*.gpkg
*.parquet
*.pbf
*.ini
*.json
#*.geojson


venv/
schrott/

!output/
!output/**


__pycache__/
*.pyc
*.log  
*.ipynb_checkpoints