version: "3.9"

x-worker-base: &worker_base
  build:
    context: ..
    dockerfile: docker/Dockerfile.worker
  working_dir: /app
  volumes:
    - ..:/app
  mem_limit: 6g

services:
  mapillary-ts_worker:
    <<: *worker_base
    container_name: mapillary-ts_worker
    command: ["bash", "/app/scripts/run_mapillary-ts_notebooks.sh", "ts"]

  mapillary-mk_worker:
    <<: *worker_base
    container_name: mapillary-mk_worker
    command: ["bash", "/app/scripts/run_mapillary-mk_notebooks.sh", "mk"]
